<div class="l-container">
  <div class="carousel">
    <div class="card">
      <img src="https://via.placeholder.com/150" alt="Temp img">
      <div class="card-content">
        <p>
          <span class="card-content-location">Canterbury</span><br>
          <span class="card-content-title">A Very Interesting Carrot</span>
        </p>
        <p>
          <span class="card-content-price">$32.00</span>
        </p>
      </div>
    </div>
    <div class="card">
      <img src="https://via.placeholder.com/150" alt="Temp img">
      <div class="card-content">
        <p>
          <span class="card-content-location">Canterbury</span><br>
          <span class="card-content-title">A Very Interesting Carrot</span>
        </p>
        <p>
          <span class="card-content-price">$32.00</span>
        </p>
      </div>
    </div>
    <div class="card">
      <img src="https://via.placeholder.com/150" alt="Temp img">
      <div class="card-content">
        <p>
          <span class="card-content-location">Canterbury</span><br>
          <span class="card-content-title">A Very Interesting Carrot</span>
        </p>
        <p>
          <span class="card-content-price">$32.00</span>
        </p>
      </div>
    </div>
    <div class="card">
      <img src="https://via.placeholder.com/150" alt="Temp img">
      <div class="card-content">
        <p>
          <span class="card-content-location">Canterbury</span><br>
          <span class="card-content-title">A Very Interesting Carrot</span>
        </p>
        <p>
          <span class="card-content-price">$32.00</span>
        </p>
      </div>
    </div>
    <div class="card">
      <img src="https://via.placeholder.com/150" alt="Temp img">
      <div class="card-content">
        <p>
          <span class="card-content-location">Canterbury</span><br>
          <span class="card-content-title">A Very Interesting Carrot</span>
        </p>
        <p>
          <span class="card-content-price">$32.00</span>
        </p>
      </div>
    </div>
    <div class="card">
      <img src="https://via.placeholder.com/150" alt="Temp img">
      <div class="card-content">
        <p>
          <span class="card-content-location">Canterbury</span><br>
          <span class="card-content-title">A Very Interesting Carrot</span>
        </p>
        <p>
          <span class="card-content-price">$32.00</span>
        </p>
      </div>
    </div>
    <div class="card">
      <img src="https://via.placeholder.com/150" alt="Temp img">
      <div class="card-content">
        <p>
          <span class="card-content-location">Canterbury</span><br>
          <span class="card-content-title">A Very Interesting Carrot</span>
        </p>
        <p>
          <span class="card-content-price">$32.00</span>
        </p>
      </div>
    </div>
  </div>
</div>
